<%- include('header') -%>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Kutyák</h2>
                <table class="table table-stripped table-bordered">
                    <tr>
                        <th>
                            Név
                        </th>
                        <th>
                            Kor
                        </th>
                        <th>
                            Faj
                        </th>
                        <th>
                            Elfogyasztott eledelek száma
                        </th>
                        <th>
                            &nbsp;
                        </th>
                    </tr>
                    <% dogs.forEach(function(onedog) { %>
                        <tr>
                            <td>
                                <%= onedog.name %>
                            </td>
                            <td>
                                <%= onedog.age %>
                            </td>
                            <td>
                                <%= onedog.breed %>
                            </td>
                            <td>
                                <%= onedog.eatendogfood %>
                            </td>
                            <td>
                                <a href="/dog/del/<%= onedog._id %>" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                                <a href="/dogfood/<%= onedog._id %>"><i class="far fa-edit"></i></a>
                            </td>
                        </tr>
                        <% }); %>
                </table>
                <br/>
            </div>
            <div class="col-11" align="right">
                <a href="/dog/new"><i class="fas fa-plus-circle fa-3x"></i></a>
            </div>
        </div>
    </div>

<%- include('footer') -%>