<%- include('header') -%>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Kutya
                    <% if (typeof dog === 'undefined') { %>
                        létrehozás
                        <% } else { %>
                            módosítás
                            <% } %>
                </h2>
                <form method="POST">
                    <div class="form-group">
                        <label for="nev">Név</label>
                        <input type="text" class="form-control" id="name" name="name" value="<%= (typeof dog === 'undefined') ? '' : dog.name %>">
                    </div>
                    <div class="form-group">
                        <label for="age">Kor</label>
                        <input type="text" class="form-control" id="age" name="age" value="<%= (typeof dog === 'undefined') ? '' : dog.age %>">
                    </div>
                    <div class="form-group">
                        <label for="breed">Faj</label>
                        <input type="text" class="form-control" id="breed" name="breed" value="<%= (typeof dog === 'undefined') ? '' : dog.breed %>">
                    </div>
                    <input type="submit" class="btn btn-primary" href="/" style="float: right;" value="Kutya felvétele" />
                    <a class="btn btn-link" href="/">Mégsem</a>
                </form>
            </div>
        </div>
    </div>
<%- include('footer') -%>